allow ueventd vfat:dir search;
allow ueventd vfat:file { read open };
allow ueventd stm_sensor:chr_file { create setattr };
allow ueventd cam_sysfs:file relabelto;
allow ueventd cam_sysfs:file getattr;
allow ueventd system_file:dir { write remove_name add_name };
